body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: fantasy;
  text-align: center;
}
h4 {
  font-family: fantasy;
  color: rgb(135, 119, 150);
}
input {
  font-family: cursive;
  font-size: 18px;
  margin: 5px;
}
li {
  font-family: fantasy;
  list-style: none;
  font-size: 20px;
}
